<h1>Create new recipe</h1>
<%= form_for @recipe, url: {action: "create", controller: "recipes"} do |f| %>

    <!-- User Name -->
    <%= f.label :name, "Name" %>
    <%= f.text_field :name %><br>

    <!-- submit -->
    <%= f.submit %>
    
<% end %>