<h1><%= @recipe.name %></h1>
<h3>By: <%= @recipe.user.name %></h3>
<p>The Main Ingredients</p>
<% @recipe.ingredients.each do |i| %>
    <p><%= i.name %></p>
<% end %>

<%= link_to "Edit Recipe", edit_user_recipe_url(@recipe.user.id, @recipe) if @recipe.user.id == session[:user_id]%>
