<h1><%= @user.name %></h1>
<%= link_to "#{@user.name}'s Recipes", user_recipes_path(@user) %>
<p>Number of Recipes: <%= recipes_count @user %></p>
<!-- @users.recipes.each do |recipe| -->
<!--    link_to recipe.name, recipe_path(recipe) -->
<!-- end -->