<h1>Recipe Manager</h1>
<h2>If you see this, then you're at the home page.</h2>

<h4>
<%= link_to "Users Index",  users_path %>
</h4>

<% if session[:user_id] %>
    <%= link_to "Log Out", logout_path, method:'delete' %>
<% end %>